@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
    
    section {
        overflow: auto;
    }
    textarea {
        resize: vertical;
    }
    .center {
        text-align: center;
    }
    .center h1 {
        margin-bottom: 10px;
    }


/* parralax */
.parallaxone {
  background-image:url("{{url_for('static', filename='field.png')}}");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallaxtwo {
  background-image:url("{{url_for('static', filename='wall.png')}}");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
