@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
    
    section {
        overflow: auto;
    }
    textarea {
        resize: vertical;
    }
    .center {
        text-align: center;
    }
    .center h1 {
        margin-bottom: 10px;
    }



/* parralax */
.parallaxone {
  background-color:black;
  background-image:url(asset-path('field.jpg'));
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallaxtwo {
  background-color:black;
  background-image:url(asset-path('wall.jpg'));
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallaxthree
{
  background-color:black;
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.parallaxfour
{
  background-color:#eaeef0;
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/* animation */
.divbox {
  height:260px;
  background-color:red;
  font-size:36px;
  animation-name: divbox;
  animation-duration: 4s;
  position: relative;
  animation-iteration-count: infinite;
}

@keyframes divbox {
    0%  {background-color:#00FFFF;}
    25%  {background-color: #0096FF;}
    50%  {background-color: #3F00FF;}
    75% {background-color: #00008B;}
    100%  {background-color:#00FFFF;}

  }

  .divmove {
    font-size:36px;
    animation-name: divmove;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: infinite;
    display: inline-block
  }

  
@keyframes divmove {
    0%   {left:0px; top:0px;}
    25%  {left:400px; top:0px;}
    50%  {left:400px; top:150px;}
    75%  {left:0px; top:150px;}
    100% {left:0px; top:0px;}
  }



.container1
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container2
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container1 .box
{
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.container2 .box2
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.container1 .box span
{
  position: absolute;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  animation-delay: calc(0.5s * var(--i));
}
.container2 .box2 span
{
  position: absolute;
  box-sizing: border-box;
  border: 2px dashed darkblue;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}


@keyframes animate
{
  0%
  {
    width: 0px;
    height: 0px;
  }
  50%
  {
    opacity: 1;
  }
  100%
  {
    width: 650px;
    height: 650px;
    opacity: 0;
  }
}

.wavy
{
  position: relative;
  width: 250px;
  height: 150px;
  overflow:hidden;
}
.wavy::before
{
  content: 'aaaaaaaaaaaaaaaaaa';
  position: absolute;
  top: -42px;
  left:0;
  font-size: 4em;
  color:transparent;
  text-decoration-style: wavy;
  text-decoration-color: #fff;
  text-decoration-line: underline;
  animation: animatewavyline 1s linear infinite;
}
@keyframes animatewavyline
{
  0%
  {
    transform: translateX(-1px);
  }
  100%
  {
    transform: translateX(-55px);
  }
}


.loader
{
  position: relative;
  display: flex;
}
.loader span
{
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  border: 6px solid #eaeef0;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
  8px 8px 15px rgba(0,0,0,0.2),
  inset 3px 3px 5px rgba(0,0,0,0.1),
  inset -1px 01px 5px rgba(255,255,255,1);
}
.loader span::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5c89ff;
  border-radius: 50%;
  box-shadow: inset 3px 3px 5px rgba(0,0,0,0.1),
  inset -1px 01px 5px rgba(255,255,255,1);
  transform: scale(0);
  animation: animatecirclesrepeat 3.5s linear infinite, animateColorcirclesrepeat 5s linear infinite;
  animation-delay: calc(var(--i)*0.2s);
}
@keyframes animatecirclesrepeat
{
  0%, 9.99%, 70.0001%
  {
    transform: scale(0);
  }
  10%, 70%
  {
    transform: scale(1);
  }
}
@keyframes animateColorcirclesrepeat
{
  0%
  {
    filter: hue-rotate(0deg);
  }
 
  100%
  {
    filter: hue-rotate(360deg);
  }
}